<div class="container" id="home-container">
  <div class="mt-4 p-5 text-black rounded text-center" id='home-jumbo'>
              <h1 class="display-4">Welcome to Randomino</h1>
              <p>A free space for creating and sharing your thoughts, or reading the random thoughts of others.</p>
              <button type="button" class="btn btn-success">Sign Up!</button>
  </div>

</div>