<div class="container" id="home-container">
  <div class="mt-4 p-5 text-black rounded text-left" id='home-jumbo'>
            <h1 class="display-4">Welcome to Randomino</h1>
            <p>A free space for creating and sharing your thoughts, or reading the random thoughts of others.</p>
            <p><%= link_to 'Continue reading...', articles_path %></p>
  </div>
</div>

<%# <%= link_to 'About Page', about_path %>